<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8" />
		<title></title>
		<link rel="stylesheet" th:href="@{/plugins/layui/css/layui.css}" media="all" />
		<link rel="stylesheet" th:href="@{/css/main.css}" />
	</head>

	<body>
		<div class="admin-main">
			<blockquote class="layui-elem-quote">
				<p>人员介绍：吴浩凡，邓文杰，林志浩</p>
				<p>使用的主要技术:Java、mysql</p>
				<p>前端框架：layui、thymeleaf</p>
				<p>后台框架：springboot、hibernate</p>
			</blockquote>

			<fieldset class="layui-elem-field">
				<legend>系统介绍</legend>
				<div class="layui-field-box">
					<fieldset class="layui-elem-field layui-field-title">
						<legend>简介</legend>
						<div class="layui-field-box">
							<p>本系统是一个人力资源管理系统，简称HRMS</p>
							<p>其实现了基本的人力管理操作</p>
							<p>能根据超级管理员所分配的账号体现不同的权限</p>
						</div>
					</fieldset>
					<fieldset class="layui-elem-field layui-field-title">
						<legend>特色</legend>
						<div class="layui-field-box">
							<p>1、响应式</p>
							<p>2、无刷新</p>
						</div>
					</fieldset>
				</div>
			</fieldset>
		</div>
	</body>

</html>